
@use "config";
@use "navigation";

@use "login";
@use "post";
@use "user-show";
@use "actiontext";

@import "~bootstrap/scss/bootstrap";

body {
    background-color: config.$gray;
    color: config.$black;
    font-size: 16px;
}

label.message {
    background-color: #ffb6c15e;
    color: red;
    padding: 12px 16px;
    border-radius: 7px;
    margin-bottom: 26px;
    font-size: 16px;
}

.login-input label.message {
    margin-top: 10px;
    margin-bottom: 0;
}